{{>header}}

{{>navbar}}


<div class="container pt-5 pb-5">
    {{!-- Home / New User --}}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">View User</li>
        </ol>
    </nav>

    <div class="view-user p-5 ">
        {{#each result}}
        <div class="col text-center">
            <h3>{{this.first_name}} {{this.last_name}}</h3>
        </div>

        <div class="col">
            <div class="row">
                <table class="table table-bordered">
                    <thead class="thread-dark">
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">{{this.first_name}}</td>
                            <td>{{this.last_name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.phone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{/each}}
    </div>

</div>

{{>footer}}